#wrap {
	width:990px;
	margin:0 auto;
}

#header {
	padding:5px 10px;
}

h1 {
	margin:0;
}

#nav {
	padding:5px 10px;
}

#main {
	float: left;
	margin: 10px;
	width: 655px;
	padding: 10px;
}

#mainright {
	float: right;
	margin: 10px;
	width: 675px;
}

#mainsingle {
	float: left;
	margin: 10px;
	padding: 10px;
}

#sidebar {
	float:right;
	width:260px;
	padding: 5px;
	margin: 10px;
}

#sidebarleft {
	float:left;
	width: 260px;
	padding: 5px;
	margin: 10px;
}

#footer {
	clear:both;
	padding:5px 10px;
}

#footer p {
	margin:0;
}

* html #footer {
	height:1px;
}