body {
	background-color:#C0C0C0;
}

#container {
	background-color: white;
	border-radius: 3px;
}

.link {
	margin: 10px;
	float: left;
}

.lt {
	float: left;
}

.rt {
	float: right;
}

.sm {
	width: 50px;
}

.center {
	text-align: center;
}

.txtl {
	text-align: left;
}

.inner_box {
	margin: 10px;
	float: left;
}

.nav {
	display: block;
	width: 100%;
}

.input {
	border: 1px solid #006;
    background: #ffc;
}

ul.a li {
	list-style: url(http://www.iphoneicon.net/icon/png/hand-drawn-web-icons-icons-by-177designs/64/bullet%20add.png);
}

ul.b li{
	list-style: url(http://www.iphoneicon.net/icon/png/hand-drawn-web-icons-icons-by-177designs/48/bullet%20add.png);
}

a {
  text-decoration: none;
  font-weight: bold;
}

label {
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
	color: blue;
}

.sidebar-item {
	width: auto; 
	text-align: left; 
	padding-top: 20px;	
}

.center {
	width: auto;
	text-align: center;
}

.rt {
	float: right;
}

#paging {
	margin: 20px;
}

#paging a {
	margin: 20px;
}

.list table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 10px;
	width: auto;
	text-align: left;
	border-collapse: collapse;
}

.list table th {
	font-size: 14px;
	font-weight: bold;
	padding: 10px 8px;
}

.list table td {
	padding: 8px;
}

.list table .odd {
	background: #e8edff; 
}

.filter-container {
	display: block;
	margin: auto;
	text-align: center;
	padding-top: 20px;
}

select.filter {
   background: transparent;
   width: 168px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   cursor: pointer;
}

.select-container {
	width: 140px;
   	height: 34px;
   	overflow: hidden;
   	background: url(/down_arrow_select.jpg) no-repeat right #ddd;
   	border: 1px solid #ccc;
   	margin: auto;
   	text-align: center;
}

#submit {
	font-size: 16;
	font-weight: bold;
	width: 100px;
	height: 34px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

}
