#mainMenu {	
	margin: 0;
	padding: 0;
	z-index: 30
}

#mainMenu li {	
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 13px arial
}

#mainMenu li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 100px;
	background: #666666;
	color: #FFF;
	text-align: center;
	text-decoration: none;
}

#mainMenu li a:hover
{	
	background: #01328E;
}

#mainMenu div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #666666;
}

#mainMenu div a
{	
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #EAEBD8;
	color: #000000;
	font: 11px arial;
}

#mainMenu div a:hover{	
	background: #01328E;
	color: #FFF;
}

#navMenu {
	height: 24px;
	margin-left: auto;
	margin-right:auto;
	width: 730px;
}
